/* regole reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* regole debug  */
.debug * {
    border: solid red 3px;
    padding: 10px;
}

.debug .button {
    border: solid blue 3px;
    padding: 10px;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Roboto';
}

/* regole header */

#main-header {
    background-color: white;
    font-weight: 600;
    font-size: 35px;
}

.container-logo {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    vertical-align: middle;
}

/* regole main */

.container {
max-width: 800px;
margin: 0px auto;
background-color: white;
padding-left: 45px;
border-bottom-left-radius: 5px ;
border-bottom-right-radius: 5px ;
}

.header {
    margin-top: 45px;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}


#task-button {
    background-color: rgb(107, 200, 237);
    color: white;
}
#section-button {
    background-color: rgb(255, 255, 255);
    color: rgb(212, 212, 212);
    border: solid rgb(212, 212, 212) 1px ;
}

.title-row {
    padding-top: 35px;
    padding-bottom: 10px;
}

.title {
    display: inline-block;
}

.icon {
    border-radius: 50%;
    text-align: right;
    padding: 2px 4px;
    margin-right: 10px;
}

.green {
    color: green;
    border: solid green 1px;
}

.red {
    color: red;
    border: solid red 1px;
}

.list {
    margin-top: 20px;
}

.title-row li {
    margin: 10px 0;
}

.chores {
    display: inline-block;
    font-size: 14px;
}

/* badge and colors */

 .badge {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 80px;
    border-radius: 10px;
    padding: 6px 2px;
    color: white;
 }

 .editorilas {
     background-color: skyblue;
 }

 .goals {
     background-color: blueviolet;
 }

 .recruiting {
     background-color: rgb(19, 167, 54);
 }

 .mobile {
     background-color: orange;
 }

 .website {
     background-color: violet;
 }

 .sales {
     background-color: lightgreen;
 }