/* regole reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole debug  */
.debug * {
    border: solid red 3px;
    padding: 10px;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Roboto';
}

#main-header {
    background-color: white;
    font-weight: 600;
    font-size: 35px;
}

.container-logo {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    vertical-align: middle;
}